<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.winsmoney.jajaying.boss.dao.mapper.ResourceMapper">
    <resultMap id="BaseResultMap" type="com.winsmoney.jajaying.boss.dao.po.ResourcePo">
        <id column="C_ID" jdbcType="VARCHAR" property="id" />
        <id column="C_TEXT" jdbcType="VARCHAR" property="text" />
        <id column="C_ROLE_ID" jdbcType="VARCHAR" property="roleId" />
        <id column="C_MENU_ID" jdbcType="VARCHAR" property="menuId" />
        <id column="C_URL" jdbcType="VARCHAR" property="url" />
        <id column="C_REMARK" jdbcType="VARCHAR" property="remark" />
        <id column="C_DELETED" jdbcType="INTEGER" property="deleted" />
        <id column="C_STATUS" jdbcType="VARCHAR" property="status" />
        <id column="C_EDITED_BY" jdbcType="VARCHAR" property="editedBy" />
        <id column="C_CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
        <id column="C_MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
    </resultMap>
    
    <resultMap id="BaseResultFlagMap" type="com.winsmoney.jajaying.boss.dao.po.ResourceFlagPo" extends="BaseResultMap">
        <id column="C_PERMISSION_FLAG" jdbcType="VARCHAR" property="permissionFlag" />
    </resultMap>
    
     <sql id="Base_Column_List">
        `C_ID`,
        `C_TEXT`,
        `C_ROLE_ID`,
        `C_MENU_ID`,
        `C_URL`,
        `C_REMARK`,
        `C_DELETED`,
        `C_STATUS`,
        `C_EDITED_BY`,
        `C_CREATE_TIME`,
        `C_MODIFY_TIME`
    </sql>

    <sql id="Base_Insert_Values">
        #{id,jdbcType=VARCHAR},
        #{text,jdbcType=VARCHAR},
        #{roleId,jdbcType=VARCHAR},
        #{menuId,jdbcType=VARCHAR},
        #{url,jdbcType=VARCHAR},
        #{remark,jdbcType=VARCHAR},
        #{deleted,jdbcType=INTEGER},
        #{status,jdbcType=VARCHAR},
        #{editedBy,jdbcType=VARCHAR},
        sysdate(),
        sysdate()
    </sql>

    <sql id="Base_Where_Condition">
            `C_DELETED` = 0
        <if test="id != null">
            AND `C_ID` = #{id,jdbcType=VARCHAR}
        </if>
        <if test="text != null">
            AND `C_TEXT` = #{text,jdbcType=VARCHAR}
        </if>
        <if test="roleId != null">
            AND `C_ROLE_ID` = #{roleId,jdbcType=VARCHAR}
        </if>
        <if test="menuId != null">
            AND `C_MENU_ID` = #{menuId,jdbcType=VARCHAR}
        </if>
        <if test="url != null">
            AND `C_URL` = #{url,jdbcType=VARCHAR}
        </if>
        <if test="remark != null">
            AND `C_REMARK` = #{remark,jdbcType=VARCHAR}
        </if>
    </sql>

    <!-- 根据id查找 -->
    <select id="getById" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from T_RESOURCE
        where `C_ID` = #{id,jdbcType=VARCHAR} AND `C_DELETED` = 0
        LIMIT 1
    </select>

    <!-- 查询 -->
    <select id="get" parameterType="com.winsmoney.jajaying.boss.dao.po.ResourcePo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from T_RESOURCE
        <where>
            <include refid="Base_Where_Condition" />
        </where>
        LIMIT 1
    </select>

    <!-- 统计 -->
    <select id="count" resultType="Integer" parameterType="com.winsmoney.jajaying.boss.dao.po.ResourcePo">
        select count(*) from T_RESOURCE
        <where>
            <include refid="Base_Where_Condition" />
        </where>
    </select>

    <!-- 列表 -->
    <select id="list" parameterType="com.winsmoney.jajaying.boss.dao.po.ResourcePo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from T_RESOURCE
        <where>
            <include refid="Base_Where_Condition" />
        </where>
    </select>

    <!-- 插入记录 -->
    <insert id="insert" parameterType="com.winsmoney.jajaying.boss.dao.po.ResourcePo">
        insert into T_RESOURCE (<include refid="Base_Column_List" />)
        values
        (<include refid="Base_Insert_Values" />)
    </insert>

    <!-- 更新记录 -->
    <update id="update" parameterType="com.winsmoney.jajaying.boss.dao.po.ResourcePo">
        update T_RESOURCE
        <set>
              <if test="text != null">
                `C_TEXT` = #{text,jdbcType=VARCHAR},
            </if>
             <if test="roleId != null">
                `C_ROLE_ID` = #{roleId,jdbcType=VARCHAR},
            </if>
             <if test="menuId != null">
                `C_MENU_ID` = #{menuId,jdbcType=VARCHAR},
            </if>
             <if test="url != null">
                `C_URL` = #{url,jdbcType=VARCHAR},
            </if>
             <if test="remark != null">
                `C_REMARK` = #{remark,jdbcType=VARCHAR},
            </if>
             <if test="deleted != null">
                `C_DELETED` = #{deleted,jdbcType=INTEGER},
            </if>
             <if test="status != null">
                `C_STATUS` = #{status,jdbcType=VARCHAR},
            </if>
             <if test="editedBy != null">
                `C_EDITED_BY` = #{editedBy,jdbcType=VARCHAR},
            </if>
             <if test="createTime != null">
                `C_CREATE_TIME` = #{createTime,jdbcType=TIMESTAMP},
            </if>
                `C_MODIFY_TIME` = now(),
        </set>
        where `C_ID` = #{id,jdbcType=VARCHAR}
    </update>

    <!-- 删除记录 逻辑删除 -->
    <update id="delete" parameterType="java.lang.String">
        update T_RESOURCE set `C_DELETED` = 1, `C_MODIFY_TIME` = now() where `C_ID` = #{id,jdbcType=VARCHAR}
    </update>

    <!-- ///自定义命令//// -->


    <select id="findResourcesByRoleId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from T_RESOURCE
        where `C_ROLE_ID` = #{roldId,jdbcType=VARCHAR} AND `C_DELETED` = 0
    </select>
    
    <select id="getPermissonFlagByRoleId" parameterType="java.lang.String" resultMap="BaseResultFlagMap">
      select  a.c_id, a.c_role_id, a.c_menu_id, b.c_url, b.c_permission_flag from t_resource a left join t_menu b on a.c_menu_id = b.c_id 
	        where a.`C_ROLE_ID` = #{roleId,jdbcType=VARCHAR} AND a.`C_DELETED` = 0
    </select>


	 <select id="getPermissonByRoleId" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
	        <include refid="Base_Column_List" />
	        from T_RESOURCE
	        where `C_ROLE_ID` = #{roleId,jdbcType=VARCHAR} AND `C_DELETED` = 0
	</select>

	<delete id="deleteResourcesByRoleId" parameterType="java.lang.String" >
		delete from T_RESOURCE where `C_ROLE_ID` = #{roleId,jdbcType=VARCHAR}
	</delete>
</mapper>